<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('../layout/header'); -%>
  <body>
    <div class="input">
        <center><h3>Register</h3><hr></center>
        <div class="form">
          <form action="http://localhost:3000/login" method="POST">
          <input type="text" class='input-form' placeholder="username" name="username"><br><br>
    <input type="password"class='input-form' placeholder="Password" name="password"><br><br><br><br>
    <button type="submit" class='input-button'>Register</button>
  </form>
    </div>
    </div>
    <%- include('../layout/footer'); -%>
  </body>
</html>
